.container {
    background-color: rgb(229, 229, 229);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px;
}
.card {
    font-family: 'Fredericka the Great', cursive;
    cursor: pointer;
    background-color: aquamarine;
    border-radius: 20px;
    min-width: 300px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin: 20px;
}
img {
    max-width: 200px;
    border-radius: 151px;
}
label {
    color: black;
}
select {
    background-color: antiquewhite;
    border-radius: 6px;
    padding-left: 6px;
}