<!-- <label for="so">Search by first letter</label> <br/>
<select id="so" name="so" (select)="getValue()">
  <option value="a" selected="selected">- a -</option>
  <option value="b">b</option>
  <option value="c">c</option>
  <option value="d">d</option>
  <option value="e">e</option>
</select> -->


<div class="gallery">
    <div *ngFor="let item of results">
        <div class="card">
            <h2>{{item.strDrink}}</h2>
            <img src={{item.strDrinkThumb}} alt={{item.strDrink}}>
        </div>
    </div>

</div>
