.container {
    background-color: rgb(229, 229, 229);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
}

.card {
    cursor: pointer;
    background-color: aquamarine;
    border-radius: 20px;
    min-width: 300px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin: 30px;
    margin-left: 0px;
}
img {
    max-width: 200px;
    border-radius: 151px;
}
h2 {
    font-family: 'Fredericka the Great', cursive;
}