.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px;
}
.card {
    background-color: aquamarine;
    border-radius: 20px;
    min-width: 300px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin: 20px;
}
img {
    max-width: 200px;
}