.container {
    background-color: rgb(229, 229, 229);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
}

.nonAlcoholic, .alcoholic, .optionalAlcoholic {
    font-family: 'Fredericka the Great', cursive;
    cursor: pointer;
    color: rgb(229, 229, 229);
    border-radius: 20px;
    min-width: 300px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin: 20px;

}
.nonAlcoholic {
    background-color: rgb(5, 68, 97);
}
.alcoholic {
    background-color: rgb(252, 163, 17);
}
.optionalAlcoholic {
    background-color: rgb(188, 57, 8);
}
img {
    max-width: 300px;
    border-radius: 151px;
}
h2 {
    font-family: 'Fredericka the Great', cursive;
}