@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Great+Vibes&family=IM+Fell+Great+Primer&display=swap');

h1 {
    font-family: 'Fredericka the Great', cursive;
}

.navBar {
    position: fixed;
    width: 100%;
}
.router {
    margin-top: 140px;
}