.container {
    /* background-color: rgb(229, 229, 229); */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}
.search {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: rgb(229, 229, 229);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -31px;
    justify-content: space-evenly;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px;
}
.nonAlcoholic, .alcoholic, .optionalAlcoholic {
    font-family: 'Fredericka the Great', cursive;
    cursor: pointer;
    border-radius: 20px;
    min-width: 300px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin: 20px;
    padding: 20px;
}
.nonAlcoholic {
    background-color: rgb(5, 68, 97);
    color: rgb(229, 229, 229);
}
.alcoholic {
    color: rgb(5, 68, 97);
    background-color: rgb(252, 163, 17);
}
.optionalAlcoholic {
    color: black;
    background-color: rgb(188, 57, 8);
}
img {
    max-width: 200px;
    border-radius: 151px;
}

input {
    background-color: antiquewhite;
    border-radius: 6px;
    padding-left: 10px;
}
.data {
    font-family: 'Great Vibes', cursive;
    margin-left: 15px;
}