<div class="navContainer">
    <div class="titleContainer">
        <h1>Find your cocktail</h1>
    </div>
    <div class="elementContainer">
        <h3 routerLink='/byname' class="navElement">Search by name</h3>
        <h3 routerLink='/byletter' class="navElement">Search by letter</h3>
        <h3 routerLink='/home' class="navElement">Home</h3>
    </div>
    <div class="showroom">
        <div class="alcoholic"> Alcoholic </div>
        <div class="nonAlcoholic"> Non Alcoholic </div>
        <div class="optionalAlcoholic"> Optional Alcoholic </div>
    </div>
</div>
